
body {
	background-color: #fcfbf5;
	color: ￼#3c2c18;
	font-family: "Alegreya Sans", sans-serif;
}


/* Carousel
======================================= */

.carousel-caption > h1 {
	color: #fcfbf5;
}

.carousel-indicators > li {
	background-color: #fcfbf5;
}

.carousel-indicators .active {
	background-color: #eae4d5;
	border: #eae4d5;
}

/* Section 
======================================= */

.section-colored {
	background-color: #fcfbf5;
	
}

h2 {
	
	font-style: bold;
}

.about p {
	font-size: 16px;
	padding-top: 15px;
}

.signature p {
	font-size: 20px;
	font-family: "Nothing You Could Do", cursive, sans-serif;
	text-align: right;

}

.contactForm {
	display: block;
	margin-left: 100px;
}

.contact p {
	font-size: 18px;

}

.philosophy {
	font-size: 25px;
}

.bulletPoints {
	font-size: 16px;
	margin-top: 20px;
}

.featured {
	font-size: 25px;
}

#map-canvas {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.vegPics {
	position: relative;
}

.vegPic {
	position: relative;
	z-index: 2;
	opacity: 1;
	border-radius: 20px 0px 20px 0px;
}

.vegPic-alt {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	border-radius: 20px 0px 20px 0px;
}


/* Media Queries ==================================== */ 

@media(max-width: 1200px) {
	.contactForm {
		margin-left: 0px;
	}
}


@media(max-width: 769px) {
	#myCarousel {
		max-height: 500px;
	}
}

@media (max-width: 321px) {
	#myCarousel {
		max-height: 350px;
	}
}




